{% extends "::base.html.twig" %}
{% block main %}
<div class="well">
    <h3>Liste des annonceurs</h3>
    <table class="mydatatable table table-striped">
	<thead>
    <tr><th>id</th><th>Entreprise</th><th>URL</th><th>Contact</th><th><a href="{{path('tools_looking_for_job_addannonceur')}}" title="Ajouter"><span class="glyphicon glyphicon-plus"></span></a></th></tr>
	</thead>
	<tbody>
    {% for annonceur in ListeAnnonceurs %}
        <tr>
            <td>{{annonceur.id}}</td>
            <td><a href="{{path('tools_looking_for_job_ficheannonceur', {'id': annonceur.id})}}">{{annonceur.entreprise}}</a></td>
            <td><a href="{{annonceur.url}}">{{annonceur.url}}</a></td>
            {% if annonceur.contactEmail %}
            <td><a href="{{annonceur.contactEmail}}">{{annonceur.contactNomPrenom}}</a></td>
            {% else %}
            <td>{{annonceur.contactNomPrenom}}</td>
            {% endif %}

            <td>
                <a href="{{path('tools_looking_for_job_editannonceur', {'id': annonceur.id})}}" style="color:green" title="Editer">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                 
                <a href="{{path('tools_looking_for_job_delannonceur', {'id': annonceur.id})}}" style="color:red" title="Supprimer" data-confirm="Etes-vous certain de vouloir supprimer?">
                    <span class="glyphicon glyphicon-remove"></span></a>
            </td>

        </tr>
    {% endfor %}
	</tbody>
    </table>
</div>
{% endblock %}
